<% provide(:title, "About") %>
<h1>NASA App</h1>
<p>
   This is the place where you can follow the location of the International Space Station <br>
   Go ahead and check if it flyes above your city! </p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
 <h3> Created by Alex Donchev,   Stuart Melville,   Konstantin Milchev</h3>
</p>