@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html {
  background-size: cover;
  background-image: url("http://www.wallpaperhd.pk/wp-content/uploads/2015/10/space-explosion-wallpaper.jpg");
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: light-blue;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: dark-blue;
  text-decoration: none;
}
}




/* footer */

footer {
 position: fixed;
 bottom: 0;
 left: 0;
  
 left: 10px;
 right: 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
 a {
  color: white;
  &hover {
    color: dark-blue;
  }
}
small {
  color: white;
  float: left;
}
ul {
   float: right;
  list-style: none;
  li {
    float: left;
    margin-left: 15px;
  }
 }
}

p {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
  a {
color: #40E0D0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header {
  position: fixed;
  a {
  color: white;
  &hover {
    color: dark-blue;
  }
}
}
/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-shadow: 2px 2px black;
}

h1 {
  font-size: 3em;
  text-shadow: 2px 2px black;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  text-shadow: 2px 2px black;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

p {
  
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.1em;
  line-height: 1.7em;
}


 .jumbotron {


background-image: url("http://www.wallpaperhd.pk/wp-content/uploads/2015/10/space-explosion-wallpaper.jpg");
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
  a {
    color: white;
    text-shadow: 3px 3px black;
    font-weight: bold;
    }
}


body {

  background: transparent;
  color: #f7f7f7;
  font-family: sans-serif;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  
  text-align: center;
  /*background: #E9967A;
  color: grey; */
}

.center h1 {
  margin-bottom: 10px;
  /*color: white;
  font-size: 26px;*/
}





/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.alertalertdanger {
  font-color: #ffffff;
  font-size: 1.3em;
  border-size: solid 1px blue;
  background-color: #DC143C;
}
.alertalertsuccess {
  font-color: white;
  font-size: 2em;
  border-size: solid 1px blue;
  background-color: lightblue;
}

.glyphicon {
  font-size: 100px;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.alignleft {
  float: left;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

.check_box {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  a {
    color: #1E90FF;
  }
  li {
     background-color: rgba(0,0,0,0.5);
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Photo */
.photo-text {
  text-align: center;
  
  color: white;
}

// Microposts

.microposts {
  list-style: none;
  padding: 0;
a {
  color: #1E90FF;
}
  li {
    
    background-color: rgba(0,0,0,0.5);
    
    font-size: 16px;
    font-weight: solid;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: white;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    color: black;
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}